
{ 
  :source-paths ["src"]

  :dependencies 
  [
    [cider/cider-nrepl "0.21.1"]
    [cljs-http "0.1.46"]]

  :builds 
  { 
    :app 
    {
      :target     :node-script
      :main       app.main/main!
      :output-dir "out/dev"
      :output-to  "out/dev/rss2tlg.js"
      ;
      :js-options 
      {
          :js-provider          :shadow 
          :keep-native-requires true
          :keep-as-require      #{"ws"}}
      ;
      :release 
      {
        :output-dir "out/dist"
        :output-to  "out/dist/rss2tlg.js"}}}}
        
;

;;.
